[core]
    pager = less -+$LESS -R
	excludesfile = /Users/kraphael/.gitignore_global
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
    co = checkout
    bdiff = log --graph --left-right --cherry-pick --oneline
    pom = push origin master
[color]
    ui = auto
[user]
	name = NAME
	email = EMAIL
