[core]
    #excludesfile = /home/kraphael/git_stuff/optimization/.gitignore
    pager = less -+$LESS -R
	excludesfile = /Users/kraphael/.gitignore_global
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
    co = checkout
[color]
    ui = auto
[user]
	name = Kayvon Raphael
	email = kayvon2@gmail.com
